@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-[#FFFFFF];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: red;
  background-color: #ffffff;
  font-weight: bold;
  padding: 1.2rem 1.2rem;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-button-prev:hover {
  background-color: #f35627;
  color: white;
}
.swiper-button-next:hover {
  background-color: #f35627;
  color: white;
}
